<!DOCTYPE html>
<html lang="RU">
<head>
    <title>Главная страница</title>
</head>
<body>
<h1>Добро пожаловать!</h1>
<p>Click <a href="/books">Book list</a> to see a booklist.</p>
<p>Click <a href="/issuedBooks">Issued book list</a> to see a issuedBookist.</p>
</body>
</html>